
			html,body {
		    	height: 100%;
		    	margin: 0;
		    	background-color: #E5E5E5;
		    	position: relative;
				font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
				background-color: #fff;
				box-sizing: border-box;
				min-height: 100%;
			}
			core-toolbar {
		    	background-color: #00bcd4;
		      	color: #fff;
		      	font-size: 24px;
		      	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
		    }

		    .contens-elements{
		    	background-color: #efefef;
		    	padding: 10px;
		    	margin: 20px 20px 40px 20px;
		    }

		    .mybotton{
		    	background: green;
		    	color: yellow;
		    }

		    paper-checkbox{
		    	padding: 0px 10px;
			}	
			x-trigger {
		    	z-index: auto;
		    }
		    html /deep/ paper-dropdown:not(.no-padding)::shadow #scroller {
		    	box-sizing: border-box;
			    padding: 8px;
		    }

		    paper-fab.amarillo {
		    	color: #000;
        		background: #ffeb3b;
    		}

    		paper-fab.verde {
      			background: #259b24;
    		}
    		paper-fab.azul {
      			background: #5677fc;
    		}
    		paper-fab {
      			color: #fff;
      			margin-right:2em;
    		}
    		paper-icon-button.rojo {
       			color: #fe774d;
      		}


	